<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/base::layout(~{::section},'dashboard-bg')}">
<head>
	<meta charset="UTF-8" />
	<title>User Dashboard</title>
</head>
<body>
<section>
	<div class="conatiner">
		<div class="card">
	<div class="card-body my-5">
	<div class="container text-center">
<img src="" style="height: 150px; width: 150px;"  class="my_profile_picture" th:src="@{'/image/contact_logo.png'}" alt="profile photo"  />
</div>
	<h1 class="text-center mt-3  text-secondary font-italic">
	
	Start Adding Your Contact in cloud
	
	</h1>
	
	<a th:href="@{/user/add-contact}" class="btn btn-primary btn-block text-uppercase mt-4">Add New Contact</a>
	</div>
	</div>
</div>

<script>
$(document).ready(()=>{
	$('.item').removeClass('active');
	$('#home-link').addClass('active')
})

</script>
	</section>
</body>
</html>